@charset "UTF-8";
footer{
	background-color:yellow
}
#header{
	background-color:yellow
}
.main{
	background-color:lightblue;
	padding:50px;
	margin:30px;
	flex:3;
}
.container{
	display:flex;
	flex-direction:row;
	width:100%;
}
body {
  background-image: url('/image/fondo1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
