@charset "UTF-8";
#footer{
	background-color:rgba(44,247,219,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	font-weight: 700;
	font-style:"Times New Roman";
	font-size:24pt;
	padding:20px;
	margin:60px;
	flex:2;
}
#header{
	background-color:rgba(44,247,219,0.4);
	font-weight: 700;
	font-style:"Times New Roman";
	font-size:24pt;
	text-align: center;
	padding:20px;
	margin:60px;
	flex:2;
}
.main{
	background-color:rgba(44,247,219,0.4);
	padding:100px;
	margin:60px;
	flex:3;
	text-align: center;
}
.container{
	display:flex;
	flex-direction:row;
	width:100%;
}
body {
  background-image: url('/image/teclado2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 700;
  font-style:"Times New Roman";
  font-size:24pt;

}

#dni {
  width: 350px;
  height: 20px;
  font-size: 18pt; 
  border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px; 
}
#nombre {
  width: 350px;
  height: 20px; 
  font-size: 18pt; 
 border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}
#apellido {
  width: 350px; 
  height: 20px; 
  font-size: 18pt; 
  border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}
#fechaNacimiento {
  width: 350px;
  height: 20px;
  font-size: 18pt;
   border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}
#correo {
  width: 350px;
  height: 20px;
  font-size: 18pt;
   border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}
#domicilio {
  width: 350px;
  height: 20px;
  font-size: 18pt;
   border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}
#celular {
  width: 350px;
  height: 20px;
  font-size: 18pt;
   border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}
#password{
  width: 350px;
  height: 20px;
  font-size: 18pt;
 padding: 4px 12px;
   border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
}
#sugerencias{
  font-size: 18pt; 
  border: 10px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
}
#genero {
  width: 20px;
  height: 20px;
}
#provincia{
  width: 250px;
  height: 40px;
  font-size: 18pt;
  border: 6px solid rgb(34, 34, 239,0.5);
  border-radius: 6px;
  padding: 4px 12px;
}

