<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>AUCACHI JAVIER WALTER</title>
	</head>
	<body>
	<header>
		<h1>
		MI PRIMER PAGINA WEB
		</h1>
	</header>
	<nav>
			<ul>
				<li><a href="https://www.fi.unju.edu.ar">Fi Unju</a></li>
				<li><a href="https://www.youtube.com.ar">Youtube</a></li>
				<li><a href="https://www.tiktok.com.ar">Tik tok</a></li>
			</ul>
	</nav>
	<main>
		<section id="inicio">
			<h2>SECCION UNO</h2>
			<p>
				Analista programador universitario
			</p>
			<h3>Docentes</h3>
			<ol>
				<li> ARIEL VEGA</li>
				<li> GUTSO SOSA</li>
				<li> CAROLINA APAZA</li>
				<li> JUAN CARLOS</li>
			</ol>
			
		</section>
		<section>
			<h2>SECCION DOS</h2>
			<p>
				segundo parrafo
			</p>
		</section>
		<section>
			<h2>SECCION TRES</h2>
			<p>
				tercer parrafo
			</p>
		</section>
	</main>
	<aside>
		<h2>CONTENIDO ADICCIONAL</h2>
		<p>
			parrafo del asaid
		</p>
	</aside>
	<footer style="background-color: #FF0000;">
	 	pie de pagina
	</footer>
	</body>
</html>